body{
    margin:0;
    font-family:sans-serif;
    background-color: #A9BCD0;
}

nav{
    width:100%;
    height:100px;
    //background-image: linear-gradient(to bottom right, #59CD90,#73FBD3);
    background-color: #25A18E;
    text-align: center;
    box-shadow: 0px 3px 10px gray; 
    display: flex;
    justify-content: center;
    align-items: center;
    float:left;
}

nav a{
    text-decoration: none;
}

nav div{
    color:white;
    font-weight:bold;
    padding:10px;
    margin:0 20px;
}

nav div:hover{
    border-bottom:3px solid red;
}

.container{
    width:100%;
    float:left;
}

.container .segment{

    width: 100%;
    float:left;
    padding:50px 30px;
    border:1px solid red;
    box-sizing: border-box;
}

#calculator{
   
    float:left;
    box-shadow: 0px 3px 10px gray;
    border-radius: 5px;
    background-color: white;
    margin-bottom:30px;
}

#calculator div:first-child{
    background-color: #59CD90;
    padding:20px;
    color:white;
    text-transform: uppercase;
    text-align:center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#calculator div:nth-child(n+2){
    width:50%;
    float: left;
    padding:25px 20px;
    box-sizing: border-box;
    
    
}

#calculator button{
    width:calc(100% - 2*20px);
    margin:20px;
    border:none;
    background-color: #59CD90;
    color:white;
    font-weight:bolder;
    padding:20px;
    border-radius:5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size:100%;
    transition: 0.7s;
}

#calculator button:hover{
    cursor: pointer;
    background-color: #35A7FF;
}

#calculator input{
    border-radius:5px;
    padding:10px 5px;
    border:1px solid;
    font-weight:bold;
    color:gray;
    box-sizing: border-box;
    border-color:#35A7FF;
    //#44E5E7
}

#calculator label{
    padding:5px 0;
    font-weight:bold;
    text-transform: uppercase;
    color:#35A7FF;
}

.container input,label{
    float:left;
    width:100%;
}

#output{
    display:none;
    float:left;
    width:100%;
    box-sizing: border-box;
    background-color:#282A36;
    padding:20px 30px;
    box-shadow: 0px 3px 10px gray;
    border-radius:5px;
}

#output div:not(:last-child):not(:first-child):not(#error){
    width:100%;
    float:left;
    color:white;
    box-sizing: border-box;
    padding:20px;
    margin-bottom:10px;
}

#button-div{
    float:left;
    width:100%;
    padding:20px 0;
}

#total{
    float:left;
    width:100%;
    color:#59CD90;
    padding:30px 20px;
    text-transform: uppercase;
    box-sizing: border-box;
}

#output hr{
    background-color: white;
    width:100%;
    box-sizing: border-box;
    padding:0 20px;
    height:1px;
    float:left;
    border:none;
}

#output div span:first-child{
    float:left;
}

#output div span:last-child{
    float:right;
}

#bd{
    background-color: red !important;
}

#new,#save{
    float:left;
    padding:20px;
    box-sizing: border-box;
    width:calc(50% - 20px);
    border:none;
    border-radius:5px;
    color:white;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing: 1.1px;
}

#save{
    background-color: #35A7FF;
    margin-left:20px;
}

#new{
    background-color: #59CD90;
    margin-right:20px;
}

button:hover{
    cursor:pointer;
}

#modal{
    position:fixed;
    z-index:1;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.4);
    top:0;
    left:0;
    display:none;
}

.content{
    width:80%;
    background-color: #011627;
    margin:15% auto;
    border-radius:5px;
    box-shadow: 0px 3px 10px gray;
    display:none;
}
#output input{
    border:none;
    background-color: transparent;
    padding:10px 0;
    color:#59CD90;
    font-weight:bold;
    width:100%;
    box-sizing:border-box;
    border-bottom:#59CD90 solid thin;
}

#output input:focus{
   outline:none;
}

div[class^="modal"]{
    width:100%;
    
    box-sizing: border-box;
    padding:10px 20px;
}

.close{
    float:right;
    color:#FF5964;
    font-size:150%;
    font-weight: bold;
}

.close:hover{
    cursor:pointer;
}

#modal-heading{
    color:#59CD90;
    font-weight:bolder;
}

.modal-body p{
    color:white;
}

table{
    width:100%;
    border:solid red thin;
    background-color:#282A36;
    border-radius:5px;
    box-shadow: 0px 3px 10px gray;
    color:white;
}

th,td{
    padding:10px;
    text-align:center;
}

#graph{
    width:100%;
    height:400px;
    float:left;
}

#y-axis{
    width:5%;
    height:100%;
}
#bar-container{
    width:95%;
    height:100%;
}

.col-50,#y-axis,#bar-container,.y-label,.line{
    box-sizing: border-box;
    float:left;
}

.col-50{
    width:30%;
    height:100%;
    
}

.col-50:first-child{
     width:70% !important;
}

#bar-container{
    border:1px solid yellow;
    display: grid;
    grid-column-gap: 5px;
    grid-template-rows: repeat(1, 1fr);
    padding: 5px 10px;
}

.line,.y-label{
    width:100%;
    height:10%;
    
}
.line{
    border-top:1px solid black;
}
.y-label{
    position: relative;
}

.label{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

div[class*="bar"] {
    border-radius: 5px 5px 0 0;
    float:left;
    height:100%;
    width:100%;
    grid-row-end: 2;
    
}

.interest{
    width:100%;
    background-color: green;
}

.capital{
    width:100%;
    background-color: red;
}
@media screen and (min-width: 700px){
    
    
    #output div:not(:last-child):not(:first-child):not(#error){
        width:50%;
    }
    
    .content{
        width:30%;
    }
    
} 
