body{
    margin:0;
    font-family:sans-serif;
    background-color: white;
}

/*
    Shared styling
*/

body *{
    box-sizing: border-box;
    border:solid thin red;
}
hr{
    width:100%;
}

button{
    border:none;
    color:white;
    border-radius:5px;
}

button:hover{
    cursor:pointer;
}

a{
    text-decoration: none;
}

.container,#flexbox,nav{
    display:flex;
    flex-wrap: wrap;
}

#nav-button,#output,#graph,#modal,.content,#table{
    display:none;
}
nav{
    width:100%;
    height:100px;
    position: absolute;
    text-align: center;
    box-shadow: 0px 3px 10px gray; 
    justify-content: center;
    align-items: center;
    float:left;
}

#logo{
    position: absolute;
    height:100px;
    width:200px;
    left:40px;
    display: none;
}

#bg{
    width:100%;
    height:100vh;
    background-image: url(images/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color:white;
    padding:calc(100px + 100vh/10) 50px 100px 50px;
}

#bg-container{
    position: absolute;
    right:50px;
    bottom:calc(100vh/10);
    
}

.text-div{
    background-color: #E1E0E6;
    padding:20px;
    margin:20px;
}
#nav-button{
    background-color: #35A7FF;
    position: absolute;
    right:50px;
    border-radius:5px;
    padding:10px;
    font-weight:bold;
    
}

.small{
    font-size:100% !important;
}

nav div{
    color:white;
    font-weight:bold;
    padding:10px;
    margin:0 20px;
}

nav div:hover{
    border-bottom:3px solid red;
}

.container{
    width:100%;
    float:left;
}

.container .segment{
    width: 100%;
    float:left;
    padding:30px;
    
}

#calculator{
   
    float:left;
    box-shadow: 0px 3px 10px gray;
    border-radius: 5px;
    background-color:#282A36;
    margin-bottom:30px;
    padding:20px;
}

#calculator div:first-child{
    padding:20px;
    color:white;
    text-transform: uppercase;
    text-align:center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#calculator div:nth-child(n+2){
    width:50%;
    float: left;
    padding:25px 20px;
    
    
    
}

#calculator button{
    width:calc(100% - 2*20px);
    margin:20px;
    border:none;
    background-color: #59CD90;
    color:white;
    font-weight:bolder;
    padding:20px;
    border-radius:5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size:100%;
    transition: 0.7s;
}

#calculator button:hover{
    cursor: pointer;
    background-color: #35A7FF;
}

#calculator input{
    
    padding:10px 5px;
    border:none;
    border-bottom:1px solid #35A7FF;
    font-weight:bold;
    color:#35A7FF;
    
    background-color: transparent;
    //#44E5E7
}
#calculator input:focus{
    outline:none;
}

#calculator label{
    padding:5px 0;
    font-weight:bold;
    text-transform: uppercase;
    color:#35A7FF;
}

.container input,label{
    float:left;
    width:100%;
}

#output{
    
    float:left;
    width:100%;
    
    background-color:#282A36;
    padding:20px 30px;
    box-shadow: 0px 3px 10px gray;
    border-radius:5px;
}

#output div:not(:last-child):not(:first-child):not(#error){
    width:100%;
    float:left;
    color:white;
    
    padding:20px;
    margin-bottom:10px;
}

#button-div{
    float:left;
    width:100%;
    padding:20px 0;
}

#total{
    float:left;
    width:100%;
    color:#59CD90;
    padding:30px 20px;
    text-transform: uppercase;
    
}

#output hr{
    background-color: white;
    padding:0 20px;
    height:1px;
    float:left;
    border:none;
}

#bd{
    background-color: red !important;
}

#new,#save{
    float:left;
    padding:20px;
    width:calc(50% - 20px);
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing: 1.1px;
}

#save{
    background-color: #35A7FF;
    margin-left:20px;
}

#new{
    background-color: #59CD90;
    margin-right:20px;
}



#modal{
    position:fixed;
    z-index:1;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.4);
    top:0;
    left:0;
   
}

.content{
    width:80%;
    background-color: #011627;
    margin:15% auto;
    border-radius:5px;
    box-shadow: 0px 3px 10px gray;
   
}
#output input{
    border:none;
    background-color: transparent;
    padding:10px 0;
    color:#59CD90;
    font-weight:bold;
    width:100%;
    
    border-bottom:#59CD90 solid thin;
}

#output input:focus{
   outline:none;
}

div[class^="modal"]{
    width:100%;
    padding:10px 20px;
}

.close{
    float:right;
    color:#FF5964;
    font-size:150%;
    font-weight: bold;
}

.close:hover{
    cursor:pointer;
}

#welcome p{
    font-weight:300;
    letter-spacing: 0.5px;
    
}

#modal-heading{
    color:#59CD90;
    font-weight:bolder;
}

.modal-body p{
    color:white;
}

table{
    width:100%;
    background-color:#282A36;
    border-radius:5px;
    box-shadow: 0px 3px 10px gray;
    color:white;
}

th,td{
    padding:10px;
    text-align:center;
    
}

thead{
    border-bottom:white;
}
#graph{
    width:100%;
    height:400px;
    float:left;
}

#y-axis{
    width:5%;
    height:100%;
}
#bar-container{
    width:95%;
    height:100%;
}

.col-50,#y-axis,#bar-container,.y-label,.line{
    float:left;
}

.col-50{
    width:30%;
    height:100%;
    
}

.col-50:first-child{
     width:70% !important;
}

#bar-container{
    border-left:2px solid white;
    border-bottom:2px solid white;
    display: grid;
    grid-column-gap: 20px;
    grid-template-rows: repeat(1, 1fr);
    padding: 5px 10px;
}

.line,.y-label{
    width:100%;
    height:10%;
    color:white;
    font-weight:bold;
}
.line{
    border-top:1px solid white;
}
.y-label{
    position: relative;
}

.label{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

div[class*="bar"] {
    border-radius: 5px 5px 0 0;
    float:left;
    height:100%;
    width:100%;
    grid-row-end: 2;
    
}

.interest{
    width:100%;
    background-color:#59CD90;
}

.capital{
    width:100%;
    background-color: #FF5964;
}

#scrollBox{
    width:calc(100% - 50px);
    
    padding:20px;
    max-height: 100%;
    overflow: auto;
    color:black;
    justify-content: center;
    
}

.template{
    
    background-color: #282A36;
    margin:15px 0;
    border-radius:5px;
    padding:20px 20px 0 20px;
    color:white;
    font-weight:bold;
    box-shadow: 0px 3px 10px #282A36;
    margin:10px;
    flex:0 0 1;
    
}

.row hr{
    border-color:#35A7FF;
}

.row{
    width:100%;
    padding:10px 0;
}

.template *{
    float:left;
}

.name{
    color:#35A7FF;
}

.delete{
    border:none;
    background-color:#FF5964;
    color:white;
    padding:5px 20px;
    float:right;
    border-radius:5px;
    margin:0;
}

.delete span:first-child{
    float:left;
    margin-right:10px;
}
.delete span:last-child{
    float:right;
}
.row span:last-child{
    float:right;
}

.total{
    color:#59CD90;
    font-size:110%;
}

@media screen and (min-width: 700px){
    
    .container .segment{
        width:50%;
        
    }
    
    #output div:not(:last-child):not(:first-child):not(#error){
        width:50%;
    }
    
    .content{
        width:30%;
    }
    
    #bg h1{
        font-size:400%;
    }
    
    #scrollBox{
        padding:0 50px 50px 50px;
    }
    
    .template{
        flex:0 0 calc(33.3333% - 10*2*3px);
        float:left;
    }
    
    #nav-button{
        display:inherit;
    }
} 

@media screen and (min-width: 800px){}
@media screen and (min-width: 900px){
    
}
@media screen and (min-width: 1000px){
    #logo{
        display:inherit;
    }
    
}
@media screen and (min-width: 800px){}
@media screen and (min-width: 800px){}

